.bg{
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    height: 100%;
}

/* NAVIGATION BAR */
/* "Macchiato" */
.navbar-brand{
    color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 42px;
}

.navbar-inverse{
    margin-left:20px;
    width: 150%;
    background-color: skyblue;
}

/* "Macchiato - You do not agree with something ? Let us talk about it !" */
.logo-name{
    font-size: 18px;
    margin-left: 40px;
    margin-right: 5px;
}

/* Navigation links */
.nav-link{
    font-family: "Courier New", Courier, monospace;
    margin-right: 30px;
    font-size: 18px;
    color:darkgreen;
}

.btn{
    margin-left:1.5px;
}

/* Active navigation link */
.active a{
    color: #FF0000 !important;
}

/* Navigation link dropdown link */
.dropdown-item,.ul,.li{
    color: blue;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
}
/* END OF NAVIGATION BAR */

/* CREATE ACCOUNT SECTION*/
.form-control{
    margin-left: 10px;
    font-weight: bold;
}

.container-fluid{
    background-color: pink;
}

.form{
    margin-bottom: 15px;
    background-color:pink;
}

.btn{
    margin-bottom: 15px;
}

.photo{
    width:120%;
    height:110%;
    margin-top: 10px;
    margin-left:30px;
}

.col-md-4{
    margin-left: 60px;
    margin-top:60px;
}

.col-md-3{
    margin-left: 100px;
    margin-top:60px;
}

/* END OF CREATE ACCOUNT SECTION */