/* Footer */
.footer{
    background-color: #696969;
}

/* INTRODUCTION OF PLATFORM */
/* "PLATFORM TITLE */
.socialmedia-title{
    color: whitesmoke;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 24px;
    font-weight: bold;
    margin-top:30px;
}

/* PLATFORM DESCRIPTION */
.platform-description{
    color:white;
}

/* END OF INTRODUCTION OF PLATFORM */
